<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Fitness Planet</title>
    <link rel="stylesheet" type="text/css" href="/css/about.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo">Fitness Planet</h1>
            <nav class="navbar">
                
                <a href="/" class="active">Home</a>  <!-- Link to homepage route -->
                <a href="/trainers">Trainers</a>
                <a href="/my_programs">Programs</a>
               
            </nav>
        </div>
    </header>

    <section class="about">
        <div class="container">
            <h2>About Us</h2>
            <p>At Fitness Planet, we believe in empowering individuals to reach their full potential through fitness. Our facility offers cutting-edge equipment, expert personal trainers, and a welcoming environment for all fitness levels.</p>

            <div class="about-content">
                <img src="https://images.pexels.com/photos/1954524/pexels-photo-1954524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Fitness Planet Gym" class="about-image">
                <p>Join us to experience a community of fitness enthusiasts and access personalized training programs designed to help you achieve your health and wellness goals. Whether you are looking to lose weight, build muscle, or simply improve your health, Fitness Planet is here for you!</p>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Fitness Planet. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>

